.info{
    background-color: #012F34;
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 1100px minmax(160px, 1fr);
}
.info-main{
    grid-column: 2;
}

.info-container{
    /* padding: 140px 0; */
    display: flex;
    justify-content: space-between;
}
.info-container h1{
    font-family: Livvic-bold;
    font-size: 3rem;
    width: 40%;
}

.line-info-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 140px 0;
    
}
.line-salmon{
    border-top: 4px solid #F67E7E;
    width: 50px;
}
.expertise{
    width: 50%;
}
.skill{
    display: flex;
    margin-bottom: 40px;
    /* gap: 20px; */
    /* justify-content: space-between; */
}
.skill svg{
    width: 20%;
}
.txt{
    width: 78%;
}
.txt > h2{
    color: #F67E7E;
    font-size: 1.125rem;
    padding-bottom: 20px;
}
.txt > p{
    font-size: 0.9375rem;
    line-height: 1.5625;
}
.half{
    justify-self: end;
    align-self: end;
    object-fit: none;
    width: 25%;
}