
.intro{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 1100px minmax(160px, 1fr);
}
.intro-middle-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}
.line-light-blue{
    border-top: 4px solid #79C8C7;
    width: 50px;
}

.best-talent{
    font-size: 6.25rem;
    font-weight: 700;
    font-family: Livvic-bold;
    width: 50%;
}
.best-talent span{
    color: #F67E7E;
}

.longer-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38%;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75;
   
}
.bottom-right{
    justify-self: flex-end;
    /* justify-items: flex-end; */
    align-self: end;
    grid-column: 2;
}
/* .left-side-half{
    grid-area: a;   
} */
