
.list{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 1100px minmax(160px, 1fr);
}
.list-main{
    grid-column: 2;
}
.main-list{
    padding: 140px 0;
}
.main-list h1{
    font-size: 3rem;
    font-family: Livvic-bold;
    text-align: center;
    max-width: 85%;
    margin: auto;
    margin-bottom: 50px;
}
.main-list h1 span{
    color: #79C8C7;
}

.team-list{
    display: flex;
    justify-content: space-between;
}

.team-member{
    text-align: center;
    width: 350px;
}
.team-member p{
    position: relative;
    top: -20px;
    line-height: 1.5625;
    font-size: 0.9375;
}
.team-member h3{
    color: #79C8C7;
    margin-bottom: 50px;
}
.avatar{
    border-radius: 50%;
    height: 62px;
    width: 62px;
    border: 2px solid #C4FFFE;
}



