
.list{
    display: grid;
    grid-template-columns: minmax(20px, 1fr) 330px minmax(20px, 1fr);
}
.list-main{
    grid-column: 2;
}
.main-list{
    padding: 140px 0;
}
.main-list h1{
    font-size: 2rem;
    font-family: Livvic-bold;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
.main-list h1 span{
    color: #79C8C7;
}

.team-list{
    display: flex;
    flex-direction: column;
    gap: 45px
}

.team-member{
    text-align: center;
}
.team-member p{
    position: relative;
    top: -20px;
    line-height: 1.5625;
    font-size: 0.9375rem;
}
.team-member h3{
    color: #79C8C7;
    margin-bottom: 30px;
}
.avatar{
    border-radius: 50%;
    height: 62px;
    width: 62px;
    border: 2px solid #C4FFFE;
}



@media screen and (min-width: 600px) {
.list{
    grid-template-columns: minmax(160px, 1fr) 1100px minmax(160px, 1fr);
}


.main-list h1{
    font-size: 3rem;
    max-width: 85%;
}

.team-list{
    flex-direction: row;
    justify-content: space-between;
    gap: 0px
}

.team-member{
    width: 350px;
}

}
