* {
    box-sizing: border-box;
    margin: 0;
  }

html{
    
}

  body {
    font-family: Livvic;
    background-color: #014E56;
    color: white;
  }

  a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

button{
    font-family: Livvic;
}